backend:
  name: git-gateway
  branch: master
  commit_messages:
    create: Create {{collection}} "{{slug}}"
    update: Update {{collection}} "{{slug}}"
    delete: Delete {{collection}} "{{slug}}"

publish_mode: editorial_workflow

media_folder: static/img
public_folder: /img

collections:
  - name: recipe
    label: Recipe
    folder: src/posts/recipes
    create: true
    slug: "{{slug}}"
    fields:
      - { label: layout, name: Layout, widget: hidden, default: recipe }
      - { name: date, label: Date, widget: datetime }
      - { name: title, label: Title, widget: string }
      - { name: featured, label: Featured, widget: boolean, default: false }
      - { name: thumbnail, label: Image, widget: image }
      - { name: time, label: Cooking Time (minutes), widget: number }
      - { name: body, label: Body, widget: markdown }
      - {
          name: rating,
          label: Rating,
          widget: number,
          min: 1,
          max: 5,
          default: 3,
        }
      - {
          name: tags,
          label: Tags,
          widget: list,
          allow_add: true,
        }
      - {
          name: ingredients,
          label: Ingredients,
          widget: list,
          allow_add: true,
          label_singular: Add Ingredient,
          field: { label: Ingredient, name: ingredient, widget: string },
        }
      - {
          name: steps,
          label: Steps,
          widget: list,
          allow_add: true,
          label_singular: Add Step,
          field: {label: Step, name: step, widget: string},
        }
