@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
  @apply bg-white;
}

// $primary: $c

.header {
  background: url("../images/background.jpg");
  @apply bg-light-primary;
  opacity: 0.9;
  background-size: cover;
  background-blend-mode: multiply;
}

section {
  @apply px-5 py-16 z-10;

  /* Medium (md) */
  @screen md {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  /* Large (lg) */
  @screen lg {
    padding-right: 8rem;
    padding-left: 8rem;
  }
}
.sub-heading {
  @apply relative text-light-primary font-extrabold tracking-widest my-3 text-center;

  /* Medium (md) */
  @screen md {
    @apply text-left;
  }

  &::before {
    position: absolute;
    content: "" !important;
    width: 3rem !important;
    height: 0.3rem !important;
    // left: 33%;
    bottom: -15%;
    @apply bg-light-secondary;

  }
}

.btn {
  @apply mx-10 font-bold bg-light-primary text-white rounded-full py-3 px-5 transition ease-in-out duration-500 transform;
  &:hover {
    @apply bg-opacity-75 -translate-y-5;
  }
}

// SIDE NAV

.side-nav {
  @apply h-screen w-w300 bg-light-primary fixed z-30 right-0 transform transition-transform ease-out duration-300 shadow;
}

.side-nav-links a {
  @apply text-white w-full text-center border-r-4 border-light-secondary my-3;
  &:hover,
  &:active {
    @apply opacity-75;
  }
}
