@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
  @apply bg-white;
}

// $primary: $c

.header {
  background: url("../images/background.jpg");
  @apply bg-light-primary;
  opacity: 0.9;
  background-size: cover;
  background-blend-mode: multiply;
}

.nav {
  @apply w-full flex justify-between items-center px-5 py-5;

  @screen md {
    @apply px-16;
  }

  @screen lg {
    @apply px-32;
  }
}

section {
  @apply px-5 py-16 z-10;

  /* Medium (md) */
  @screen md {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  /* Large (lg) */
  @screen lg {
    padding-right: 8rem;
    padding-left: 8rem;
  }
}
.sub-heading {
  @apply relative text-light-primary font-extrabold tracking-widest my-3 text-center;

  /* Medium (md) */
  @screen md {
    @apply text-left;
  }

  &::before {
    position: absolute;
    content: "" !important;
    width: 3rem !important;
    height: 0.3rem !important;
    // left: 33%;
    bottom: -15%;
    @apply bg-light-secondary;
  }
}

.card-deck {
  @apply mx-auto gap-5 grid grid-cols-1 w-full my-10 items-center justify-center;

  @screen md {
    @apply grid-cols-3;
  }
}

.card {
  @apply transform transition ease-in-out duration-300 w-full mx-auto card my-5 rounded-lg overflow-hidden shadow-lg;
  min-height: 400px !important;
  &:hover {
    @apply -translate-y-3;
  }
  .card-content-image {
    @apply relative w-full h-64;

    .card-image {
      @apply object-cover h-full top-0 left-0 w-full;
    }
  }

  .card-content-text {
    @apply px-6 py-4;

    .card-title {
      @apply font-bold text-xl mb-2;
    }

    .card-content-items {
      @apply flex;
    }
  }
}

.btn {
  @apply mx-10 font-bold bg-light-primary text-white rounded-full py-3 px-5 transition ease-in-out duration-500 transform;
  &:hover {
    @apply bg-opacity-75 -translate-y-2;
  }
}

// SIDE NAV

.side-nav {
  @apply h-screen w-w300 bg-light-primary fixed z-30 right-0 transform transition-transform ease-out duration-300 shadow;
}

.side-nav-links a {
  @apply text-white w-full text-center border-r-4 border-light-secondary my-3;
  &:hover,
  &:active {
    @apply opacity-75;
  }
}
